@import '../../.cache/wal/colors-waybar.css';

* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 13px;
}

window#waybar {
  background-color: alpha(@background, 0.9); /* Base color */
  color: @foreground; /* Text color */
  border-bottom: 1px solid alpha(@background, 0.2);
}

#workspaces button {
  padding: 0 6px;
  color: @color2;
}

#workspaces button.active {
  color: @color6;
  background-color: alpha(@color6, 0.15);
}

#clock {
  font-weight: bold;
  padding: 0 12px;
}

#tray {
  padding: 0 8px;
}

#network,
#pulseaudio,
#cpu,
#memory,
#battery {
  padding: 0 8px;
}
