:root {
    --border-color: #2830D3;
    --border-color-active: #19209B;
    --bg-color: rgba(20, 20 ,20, 0);
    --bg-color-hover: rgba(20, 20 ,20, 0);
    --border-radius: 20px;
    border: 0;
    padding: 20px;
}

.workspace {
    --bg-color: #020111;
    --bg-color-hover: #2830D3;
    --border-color: #19209B;
    margin: 5px;
    --border-size: 4px;
}

.index {
    visibility: hidden;
    --bg-color: #2853EA;
    padding: 7px;
}

.client {
    font-size: 16px;
}