:root {
    --border-color: #681ED8;
    --border-color-active: #2339DC;
    --bg-color: rgba(20, 20 ,20, 0);
    --bg-color-hover: rgba(20, 20 ,20, 0);
    --border-radius: 20px;
    border: 0;
    padding: 20px;
}

.workspace {
    --bg-color: #02010A;
    --bg-color-hover: #681ED8;
    --border-color: #2339DC;
    margin: 5px;
    --border-size: 4px;
}

.index {
    visibility: hidden;
    --bg-color: #9530EF;
    padding: 7px;
}

.client {
    font-size: 16px;
}