:root {
    --border-color: #9E59A6;
    --border-color-active: #4F59BC;
    --bg-color: rgba(20, 20 ,20, 0);
    --bg-color-hover: rgba(20, 20 ,20, 0);
    --border-radius: 20px;
    border: 0;
    padding: 20px;
}

.workspace {
    --bg-color: #05051B;
    --bg-color-hover: #9E59A6;
    --border-color: #4F59BC;
    margin: 5px;
    --border-size: 4px;
}

.index {
    visibility: hidden;
    --bg-color: #6CB3EA;
    padding: 7px;
}

.client {
    font-size: 16px;
}