:root {
    --border-color: #56339C;
    --border-color-active: #282A98;
    --bg-color: rgba(20, 20 ,20, 0);
    --bg-color-hover: rgba(20, 20 ,20, 0);
    --border-radius: 20px;
    border: 0;
    padding: 20px;
}

.workspace {
    --bg-color: #020005;
    --bg-color-hover: #56339C;
    --border-color: #282A98;
    margin: 5px;
    --border-size: 4px;
}

.index {
    visibility: hidden;
    --bg-color: #6259DE;
    padding: 7px;
}

.client {
    font-size: 16px;
}