@import '../../.cache/wal/colors-waybar.css';

/* @import "mocha.css"; */
@define-color rosewater @foreground;
@define-color flamingo @foreground;
@define-color pink @foreground;
@define-color mauve @foreground;
@define-color red @color4;
@define-color maroon @foreground;
@define-color peach @foreground;
@define-color yellow @foreground;
@define-color green @color6;
@define-color teal @color6;
@define-color sky @color6;
@define-color sapphire @color5;
@define-color blue @color6;
@define-color lavender @color6;
@define-color text @foreground;
@define-color subtext1 @color6;
@define-color subtext0 @color6;
@define-color overlay2 @color8;
@define-color overlay1 @color8;
@define-color overlay0 @color2;
@define-color surface2 @color1;
@define-color surface1 @color1;
@define-color surface0 @background;
@define-color base @background;
@define-color mantle @background;
@define-color crust @background;

* {
    font-family: "Meslo Nerd Font";
    font-size: 14px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: @base;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
    margin: 5px;
    padding-left: 10px;
    padding-right: 0px;
    color: @color8;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @pink;
}

#workspaces button {
    padding: 3px 1px;
    padding-left: 8px;
}

#workspaces button.focused {
    color: @teal;
}

#workspaces button.active {
    color: @blue;
}

#workspaces button.urgent {
    background-color: @maroon;
}

#tray {
    margin: 5px;
}

#pulseaudio,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#mode,
#scratchpad,
#clock {
    color: @blue;
    margin: 15px;
}

#clock.date {
    color: @mauve;
}

#pulseaudio {
    color: @blue;
    margin: 5px;
    padding-right: 8px;
}

#network {
    color: @yellow;
    margin: 5px;
}

#battery {
    color: @green;
    margin: 5px;
}

#custom-notification {
    font-family: "Meslo Nerd Font";
    color: @blue;
    margin: 10px;
}
#custom-pacman {
    color: @pink;
    margin: 5px;
}

#custom-spotify {
    color: @green;
    margin: 5px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 5px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 5px;
}
