@import '../../.cache/wal/colors-waybar.css';

* {
    border: none;
    border-radius: 0;
    font-family: Hack Nerd Font, monospace;
    font-weight: bold;
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: alpha(@background, 0);
    color: @foreground;
}

tooltip {
    background: @background;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: @background;
}

#workspaces button {
    padding: 5px;
    color: @background;
    margin-right: 5px;
}

#workspaces button.active {
    color: @color6;
}

#workspaces button.focused {
    color: @color6;
    background: @foreground;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @background;
    background: @color6;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @background;
    color: @foreground;
    border-radius: 10px;
}

#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: @background;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid @background;
}

#tray {
    border-radius: 10px;
    margin-right: 5px;
}

#workspaces {
    background: @background;
    border-radius: 10px;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    color: @color6;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    color: @color4;
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    color: @foreground;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @foreground;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-right: 0px;
}

#network {
    color: @foreground;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio {
    color: @color6;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0 0 10px;
}

#pulseaudio.microphone {
    color: @foreground;
    margin-right: 0px;
    border-radius: 0 10px 10px 0;
}

#battery {
    color: @color6;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
}
