@import '../../.cache/wal/colors-waybar.css';

* {
	border: none;
	border-radius: 10px;
  font-family:
    "JetBrainsMono Nerd Font",
    "Noto Sans Symbols",
    "Noto Color Emoji",
    monospace;
	font-size: 15px;
	min-height: 10px;
}
window#waybar {
	background: transparent;
}

#network,
#keyboard-state,
#custom-keybinds,
#custom-cava-safe,
#battery,
#backlight,
#language,
#pulseaudio,
#clock,
#disk,
#privacy,
#memory,
#cpu,
#custom-power,
#tray {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    background: @color0; 
    color: @foreground;
    border-bottom: 3px solid @color6;
    transition: 0.3s;
}

#network:hover,
#keyboard-state:hover,
#custom-keybinds:hover,
#custom-cava-safe:hover,
#battery:hover,
#backlight:hover,
#language:hover,
#pulseaudio:hover,
#clock:hover,
#disk:hover,
#memory:hover,
#cpu:hover,
#custom-power:hover,
#tray:hover {
    color: @color0;
    background: @color6;
}

#custom-cava-safe {
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    background: @color0; 
    color: @foreground;
    border-bottom: 3px solid @color6;
    transition: 0.3s;
    color: @color6;
    padding-top: 6px;
    padding-bottom: 6px;
    letter-spacing: -4px;
}

#custom-cava-safe:hover {
    color: @color0;
}

#pulseaudio {
    padding: 8px;
}

#pulseaudio.muted {
    color: @foreground;
    background: @color0; 
    border-bottom: 3px solid @color6;
    transition: 0.3s;
}

#pulseaudio.muted:hover {
    background: @color6;
    color: @color0; 
}

#network.disconnected {
    color: @foreground;
    background: @color0; 
    border-bottom: 3px solid @color6;
}

#network.disconnected:hover {
    background: @color6;
    color: @color0; 
}

#idle_inhibitor{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
    background: @color0; 
    color: @foreground;
    border-bottom: 3px solid @color6;
    transition: 0.3s;
}

#idle_inhibitor.activated{
    color: @foreground;
    border-color: @color6;
}

#idle_inhibitor.activated:hover{
    background: @color6;
    color: @color0;
    border-color: @color6;
}

#idle_inhibitor.deactivated{
    color: @foreground
}

#idle_inhibitor.deactivated:hover{
    color: @color0; 
    background: @color6;
}

#workspaces {
    margin-top: 10px;
    margin-left: 8px;
    padding-right: 4px;
    background: @color0; 
    border-bottom: 3px solid @color6;
    color: @foreground;
    transition: 0.3s;
}

#workspaces button {
    color: @foreground;
    transition: 0.3s;
}
#workspaces button:hover {
    background: transparent;
    color: transparent;
    box-shadow: none;
    text-shadow: none;
}

#tray menu{
    margin-top: 10px;
    margin-left: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
    background: @color0; 
    color: @foreground;
    border-bottom: 3px solid @color6;
    transition: 0.3s;
}

#custom-launcher {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 17px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 10px;
    color: @foreground;
    background: @color0;
    border-bottom: 3px solid @color6;
    transition: 0.3s;
}

#custom-launcher:hover { 
    background: @color6;
    color: @color0;
}
