@import '../../.cache/wal/colors-waybar.css';

* {
  border: none;
  border-radius: 0px;
  font-family: "Iosevka Nerd Font";
  font-weight: 600;
  font-size: 14px;
  min-height: 0;
  opacity: 1;
}

window#waybar {
  background: none;
}

window#waybar .horizontal {
  padding: 1px;
}

window#waybar {
  border-radius: 10px;
  border: 2px solid @color5;
}

tooltip {
  background: @background;
  border-radius: 7px;
  border-width: 2px;
  border-style: solid;
  border-color: @background;
  opacity: 1;
}

#workspaces button {
  padding: 5px;
  /* color: @background; */
  color: @color8;
  margin-right: 5px;
  /* margin-left: 10px; */
}

#workspaces button.active {
  color: @color6;
  /* background: @background; */
}

#workspaces button.focused {
  color: @color2;
  background: @foreground;
  border-radius: 7px;
}

#workspaces button.urgent {
  color: @background;
  background: @color4;
  border-radius: 7px;
  opacity: 0.5;
}

#workspaces button:hover {
  background: @background;
  color: @foreground;
  border-radius: 17px;
}

/* #custom-power_profile, */
/* #custom-weather, */

#window,
#clock,
#battery,
#mpris,
#pulseaudio,
#custom-pacman,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#mpd,
#custom-pomodoro,
#cpu,
#memory,
#backlight,
#custom-spotify,
#custom-updates,
#custom-weather,
#modbackground {
  /* background: @background; */
  opacity: 1;
  padding: 0px 7px;
  margin-top: 5px;
  /*  margin-bottom: 5px; */
  /* border: 1px solid @color8; */
}

#backlight {
  border-radius: 7px 0px 0px 7px;
  background: @background;
  opacity: 1;
  padding: 0px 7px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#pulseaudio {
  color: @color6;
  border-radius: 0px;
  border-left: 0px;
  border-radius: 7px 0px 0px 7px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: @foreground;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px 7px 7px 0px;
  margin-right: 5px;
}

#cpu {
  color: @color6;
  border-radius: 7px 0px 0px 7px;
}

#memory {
  color: @color6;
  border-radius: 0px 7px 7px 0px;
  margin-right: 5px;
}

#tray {
  border-radius: 7px;
  margin-right: 5px;
}

#workspaces {
  background: @background;
  background-color: transparent;
  border-radius: 7px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  opacity: 1;
}

/* #custom-power_profile { */
/*   color: @color6; */
/*   border-left: 0px; */
/*   border-right: 0px; */
/* } */

#window {
  border-radius: 7px;
  margin-left: 10px;
  margin-right: 60px;
  opacity: 1;
}

#clock {
  color: @foreground;
  border-radius: 7px;
  /* margin-left: 10px; */
  margin-right: 5px;
  /* margin-left: 5px; */
  padding-right: 0px;
  border-right: 0px;
  opacity: 1;
}

#network {
  color: @foreground;
  border-radius: 7px;
  margin-right: 5px;
  border-left: 0px;
  border-right: 0px;
  opacity: 1;
}

#bluetooth {
  color: @color6;
  border-radius: 7px;
  margin-right: 5px;
  opacity: 1;
}

#battery {
  color: @color6;
  border-radius: 7px;
  margin-right: 5px;
  border-left: 0px;
}

#custom-spotify {
  border-radius: 7px;
  margin-right: 5px;
  border-right: 0px;
  opacity: 1;
}

#mpris {
  border-radius: 7px;
  margin-right: 5px;
  border-right: 0px;
}

#mpris.paused {
  border-bottom: 2px solid @yellow;
}

#mpd {
  border-radius: 7px;
  margin-right: 5px;
  border-right: 0px;
}

#custom-updates {
  background-color: transparent;
  color: @color4;
  border-radius: 7px;
  margin-right: 5px;
  border-right: 0px;
}

#custom-weather {
  background-color: transparent;
  color: @foreground;
  border-radius: 7px;
  margin-right: 5px;
  border-right: 0px;
}
