@import '../../.cache/wal/colors-waybar.css';

* {
  border: none;
  font-size: 14px;
  font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
  min-height: 18px;
}

window#waybar {
  background: transparent;
  color: @color8;
}

#custom-logo {
  color: @foreground;
}

.modules-right {
  padding: 0 10px;
  border-radius: 10px 0 0 10px;
  margin-top: 2px;
  background: @background;
}

.modules-center {
  padding: 0 15px;
  margin-top: 2px;
  border-radius: 10px 10px 10px 10px;
  background-color: @background;
}

.modules-left {
  border-radius: 0 10px 10px 0;
  padding: 0 10px;
  margin-top: 2px;
  background: @background;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window,
#clock {
  padding: 0 5px;
}

#pulseaudio {
  padding-top: 6px;
}

#workspaces button {
  margin: 0px 10px;
  color: @color8;
}

#workspaces button.visible {
  color: white;
}

#workspaces button:hover {
  background: transparent;
  box-shadow: none;
  color: white;
}

#workspaces button.urgent {
  color: @color4;
}

#temperature.critical,
#pulseaudio.muted {
  padding-top: 3px;
  color: @color4;
}

#clock {
  color: @color5;
}

#backlight-slider trough,
#pulseaudio-slider trough {
  margin-top: -3px;
  min-width: 90px;
  min-height: 10px;
  margin-bottom: -4px;
  border-radius: 8px;
  background: @color8;
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
  border-radius: 8px;
  background-color: @color1;
}

#battery.charging {
  color: @color8;
  background-color: transparent;
}

#battery.warning:not(.charging) {
  background-color: transparent;
  color: @color8;
}

#battery.critical:not(.charging) {
  background-color: transparent;
  color: @color4;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: @foreground;
    color: @background;
  }
}
