/* @import "color.css"; */
/* Generic bar properties */
@import '../../.cache/wal/colors-waybar.css';

/* Map pywal colors to base16 scheme */
@define-color base00 @color0;   /* background */
@define-color base01 @color8;   /* lighter background */
@define-color base02 @color1;   /* selection background */
@define-color base03 @color2;   /* comments, invisibles */
@define-color base04 @color3;   /* dark foreground */
@define-color base05 @color7;   /* default foreground */
@define-color base06 @color14;  /* light foreground */
@define-color base07 @color15;  /* lightest foreground */
@define-color base08 @color9;   /* red */
@define-color base09 @color11;  /* orange */
@define-color base0A @color12;  /* yellow */
@define-color base0B @color10;  /* green */
@define-color base0C @color13;  /* cyan */
@define-color base0D @color4;   /* blue */
@define-color base0E @color5;   /* purple */
@define-color base0F @color6;   /* brown */
@define-color base0G @color13;  /* custom color (mapped to cyan) */


* {
    border:         none;
    border-radius:  0px;
    font-family:    "Iosevka Nerd Font";
    font-size:      14px;
    min-height:     0;
    padding-top: 2px;
    padding-bottom: 2px;
}
window#waybar {
    /* background: @base01; */
    background: @background;
    opacity: .75;
    border-bottom: 2px solid @base00;
    border-top: 2px solid @base00;
    color: @base04;
}
window#waybar.hidden {
    opacity: 0.25;
}
/* General formatting */
#workspaces, #pulseaudio, #pulseaudio#microphone, #clock, #mode, #window, #idle-inhibitor, #custom-clock, #custom-date, #mpd, #custom-keyboard, #custom-battery, #custom-speaker, #custom-microphone, #custom-backlight, #custom-memory, #custom-cpu, #custom-fan, #custom-coretemp, #custom-gputemp, #custom-rootfs, #custom-homefs, #custom-calendar, #custom-todo, #custom-gmail, #custom-rss, #custom-network, #custom-bandwidth, #custom-update, #custom-uptime, #custom-kernel, #tray {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 2px;
    /* color: @base04; */
    color: @color6;
    background: transparent;
    border-radius: 0px;
    margin-top: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
    /* border-bottom: 2px solid @base09; */
}
/* MPD module spacing */
#custom-mpd-song, #custom-mpd-prev, #custom-mpd-rewind, #custom-mpd-fastforward, #custom-mpd-next, #custom-mpd-random, #custom-mpd-repeat, #custom-mpd-single {
    margin-right: 0px;
}
#custom-mpd-prev, #custom-mpd-rewind, #custom-mpd-fastforward, #custom-mpd-next, #custom-mpd-random, #custom-mpd-repeat, #custom-mpd-single, #custom-mpd-consume {
    margin-left: 0px;
}
#custom-mpd-prev, #custom-mpd-rewind, #custom-mpd-fastforward, #custom-mpd-next, #custom-mpd-random, #custom-mpd-repeat, #custom-mpd-single, #custom-mpd-consume {
    padding-left: 4px;
    padding-right: 4px;
}

/* Custom colors for attention */
*.mute {color: @base03;}
*.paused {color: @base03;}
*.urgent {color: @base09;}
#idle_inhibitor.activated {color: @base0F;}
/* Workspaces */
#workspaces {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
#workspaces button {
    background: transparent;
    font-weight: bold;
    /* color: @base04; */
    color: @color6;
    /* border-bottom: 2px solid @base04; */
}
#workspaces button.persistant {border-bottom: @base03; color: @base03;}
#workspaces button.active {border-bottom: 2px solid @base0G;}
#workspaces button.visible {background: alpha(@background, .1);}
#workspaces button.focused {border-bottom: 2px solid @base0C; color: @base0C;
    background: alpha(@background, .1);}
#workspaces button.urgent {border-bottom: 2px solid @base09; color: @base09;}
/* Border lines: FOREGROUND */
#custom-tray {
    border-top: 2px solid @base04;
}
/* Border lines: RED */
#custom-battery.low {
    border-bottom: 2px solid @base08;
}
#custom-coretemp, #custom-gputemp, #custom-todo {
    border-top: 2px solid @base08;
}
/* Border lines: ORANGE */
#custom-battery.warn {
    border-bottom: 2px solid @base04;
}
#custom-fan, #custom-rss {
    border-top: 2px solid @base09;
}
/* Border lines: YELLOW */
#custom-battery.ok {
    border-bottom: 2px solid @base04;
}
#custom-cpu, #custom-gmail {
    border-top: 2px solid @base0A;
}
/* Border lines: GREEN */
#custom-battery.good {
    border-bottom: 2px solid @base04;
}
#custom-memory, #custom-network, #custom-bandwidth {
    border-top: 2px solid @base0B;
}
/* Border lines: CYAN */
#mode, #window, #idle-inhibitor, #custom-keyboard {
    border-bottom: 2px solid @base0G;
}
#custom-backlight, #custom-update {
    border-top: 2px solid @base0C;
}
/* Border lines: INDIGO */
#custom-clock, #custom-date {
    border-bottom: 2px solid @base0D;
}
#custom-microphone, #custom-uptime {
    border-top: 2px solid @base0D;
}
/* Border lines: VIOLET */
#mpd {
    border-bottom: 2px solid @base0E;
    padding-left: 0px;
    padding-right: 0px;
}
#custom-speaker, #custom-kernel {
    border-top: 2px solid @base0E;
}
/* Border lines: BROWN */
#idle_inhibitor {
    border-bottom: 2px solid @base0F;
}
#custom-rootfs, #custom-homefs, #custom-calendar {
    border-top: 2px solid @base0F;
}

#pulseaudio {
    border-bottom: 2px solid @base0G;
}

#clock {
    border-bottom: 2px solid @base0G;
    padding-right: 8px;
}
